@font-face {
  font-family: primary;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: secondary;
  src: url(/assets/fonts/FiraMono-Regular.ttf);
}
@font-face {
  font-family: secondary-medium;
  src: url(/assets/fonts/FiraMono-Medium.ttf);
}
