@import 'reset.css';

@font-face {
  font-family: primary;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: secondary;
  src: url(/assets/fonts/FiraMono-Regular.ttf);
}
@font-face {
  font-family: secondary-medium;
  src: url(/assets/fonts/FiraMono-Medium.ttf);
}

:root {
  --index: calc(1vw + 1vh);
  --color-light: #fafafa;
  --color-dark: #203844;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: primary;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
}

.main-container {
  margin: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 1rem 0;
  align-items: center;
}

.image__container {
  padding: 3rem 0;
}

.logo__image {
  width: calc(var(--index) * 14);
}

.main-content {
  font-family: secondary;
  font-size: calc(var(--index) * 0.8);
  display: flex;
  flex-direction: column;
}

.main-content__heading {
  text-transform: uppercase;
}

.main-content__image {
  width: 100%;
}

.timer-container {
  display: flex;
  align-items: end;
  margin-bottom: 2.5rem;
}

.footer {
  padding: 1.5rem 0;

  border-top: 1px solid var(--color-dark);
}

.modal {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-dark);
  color: var(--color-light);
  transform: translateY(-100%);
  transition: transform 1.5s ease-in-out;
}

.modal--open {
  transform: translateY(0);
}

.modal__links > li {
  font-size: calc(var(--index) * 3.5);
  text-transform: uppercase;
  font-weight: bold;
  color: (var(--color-light));
}

.modal__links > li:hover .underline {
  animation: 2s ease-in-out expanded-line;
  transform-origin: 0% 100%;
}

.underline {
  height: 1px;
  width: 100%;
  background-color: var(--color-light);
  transform: scaleX(0);
}

@keyframes expanded-line {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

.show {
  animation: 2s ease-in-out text-shown;
}

@keyframes text-shown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  animation: 2s ease-in-out text-hidden;
}

@keyframes text-hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* designer's logo */
.design-logo {
  color: inherit;
  max-width: 2.8rem;
}

/* Mobile first paradigme */
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .hedear {
    padding: 3rem 0;
  }
  .main-container {
    margin: 0 2.5rem;
  }
  .modal {
    padding: 0 2.5rem 2.5rem;
  }
  .timer-container {
    margin-bottom: 0;
  }

  .main-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-content :nth-child(2) {
    order: -1;
  }
}
